boto3==1.26.109      
botocore==1.29.109      
gcs-jsonlogger==1.12.0      
cachetools==4.2.4      
dataclasses-json==0.6.0      
marshmallow-enum==1.5.1      
cars-http-clients-python>=8.1.0,<9.0.0      
cars-client-storage-python>=15.0.0,<16.0.0      
requests==2.31.0      
gcs-cws-activities-sdk>=0.2.2,<2.0.0  
#xhtml2pdf>=0.2.17  
pymupdf>=1.23.0    
pymupdf4llm>=0.0.8    
anthropic==0.40.0    
Pillow>=9.0.0  
beautifulsoup4>=4.9.3
gcs-cws-activities-sdk>=0.2.2,<2.0.0
